.footer {
  align-items: center;
  background: linear-gradient(180deg, rgba(64,64,64,1) 0%, rgba(32, 32, 32,1) 100%);
  background: rgb(0,0,0,1);
  color: white;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: left;
  margin: 0px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}
.footerbutton{
  background: rgb(0,0,0,0);
  border-radius: 0px;
  font-size: 24px;
  height: 64px;
  margin: 8vw auto;
  width: 32vw;
}
.footerbutton:hover{background: linear-gradient(180deg, rgba(64,64,64,1) 0%, rgba(32, 32, 32,1) 100%);}
.footerbutton:active{background:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(12,16,120,1) 100%);}
.logo{
  height: 64px;
  padding: 0vw;
  position: relative;
  top: 0px;
  width: auto;
}
.infoImg{  
  height: 128px;
  padding: 0vw;
  position: relative;
  top: 0px;
  width: auto;

}
.barspacing{
  width: 100%;
}