.footer {
  background: rgb(0,0,0,0);
  /*background: linear-gradient(180deg, rgba(64,64,64,.75) 0%, rgba(32, 32, 32,1) 100%);*/
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100px;
  padding-bottom: 15px;
  margin: auto;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}
.footerbutton{
  background: rgb(0,0,0,1);
  height: 130px;
  width: 50vw;
  margin: 8px auto;
  border-radius: 0px;
  font-size: 36px;
}
