.container {
  background-color: white;
  padding: 20px 0;
  text-align: center;
}

.newPost {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
}

.App {
  background-color: #ffffff;
  background-size: cover;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: sticky;
}

.infoSection{
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 4px #555555;
  justify-content: left;
  margin: 8px auto;
  padding: 25px ;
  text-align:justify;
  width: 75%;
}

.infoSectionCenter{
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 4px #555555;
  justify-content: center;
  margin: 16px auto;
  padding: 25px;
  text-align:center;
  width: 75%;
}

.spacingsmall{
  height: 3px;
  margin-bottom: 8px;
  width: 100%;
}

.seperator{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 2px;
  height: 3px;
  margin-bottom: 10px;
  width: 100%;
}

img{
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imageSection{
  display: block;
  justify-content: center;
}
.field {
  margin: 10px 0;
}

button {
  background: rgb(34, 109, 195) ;
  border-radius: 16px;
  border: none;
  color: white;
  display: block;
  font-size: 20px;
  height: auto;
  margin: 8px auto;
  min-height: 64px;
  overflow: hidden;
  text-decoration: none !important; 
  transition: background-color .15s;
  width: 75%;
}

button:hover{background:rgb(81, 185, 255);}

button:active{background:rgba(112,16,10,1);}

button.parkSelector { 
  background:none;
  border-bottom:  1px solid rgb(34, 109, 195);
  border-radius: 0px;
  color: rgb(34, 109, 195); 
  height: auto;
  margin: -1px auto;
  min-height: 48px;
  width: 100%;
  transition: background-color .3s;
}
button.parkSelector.closer {
  background:rgb(173, 20, 9);
  color:  white;
} 
button.parkSelector:hover{
  background:rgb(34, 109, 195);
  color: white
}

button.parkSelector:active{background:rgba(112,16,10,1);
  color: white}

button.smallButton { 
  background: rgb(83, 83, 83); 
  border:none; 
  color: white;
  display: inline;
  height: 48px; 
  min-height: auto;
  width: auto;
  transition: background-color .1s; 
  margin: 2px;
}
button.smallButton:hover{background:rgb(34, 109, 195);}

button.smallButton:active{background:rgba(112,16,10,1);}

.spacing{
  height : 32px;
}

input {
  background: gainsboro;
  border-radius: 16px;
  border: none;
  font-size: 20px;
  height: 48px;
  margin: 4px;
  overflow: hidden;
  text-decoration: none !important; 
}

label{
  display: inline-block;
}

.footer {
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: left;
  margin: 0px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

.footerbutton{
  background: rgba(184, 184, 184, 0.185);
  font-size: 20px;
  height: 48px;
  margin: 8px 4px;
  min-height: auto;
  width: 15vw;
}
.footerbutton:hover{background:rgb(131, 131, 131);}

.footerbutton:active{background:rgb(10, 46, 112);}

.footerbutton.mobile{
  background: rgba(184, 184, 184, 0.185);
  font-size: 20px;
  height: 48px;
  margin: 8px 8px 8px 8px;
  min-height: auto;
  width: 33vw;
}

.logo{
  height: 64px;
  padding: 0vw;
  position: relative;
  top: 0px;
  width: auto;
}

.infoImg{  
  height: 128px;
  padding: 0vw;
  position: relative;
  top: 0px;
  width: auto;
}

.barspacing{
  width: 100%;
}

.dropDownParks{
  background: white;
  border: 1px solid rgb(34, 109, 195);
  border-radius: 16px;
  padding: 0px auto;
  margin: 0px auto;
  overflow: hidden;
  width: 66.6%;
}