  .container {
    background-color: white;
    padding: 20px 0;
    text-align: center;
  }
  .newPost {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
  }
  .App {
    background-color: #ffffff;
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
  }
  .infoSection{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 4px #888888;
    justify-content: left;
    margin: 8px auto;
    padding: 30px;
    text-align:justify;
    width: 75%;
  }

  .infoSectionCenter{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0px 0px 4px #888888;
    justify-content: center;
    margin: 8px auto;
    padding: 30px;
    text-align:center;
    width: 75%;
  }

  .spacingsmall{
    height: 3px;
    margin-bottom: 8px;
    width: 100%;
  }
  .whiteline{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 2px;
    height: 3px;
    margin-bottom: 10px;
    width: 100%;
  }
  img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .imageSection{
    display: block;
    justify-content: center;
  }
  .field {
    margin: 10px 0;
  }
  h1{
    font-size: 24px;
  }
  button {
    background: linear-gradient(0deg, rgb(45, 34, 195) 0%, rgb(112, 202, 255)100%);
    border-radius: 8px;
    border: none;
    color: white;
    display: block;
    font-size: 20px;
    height: 64px;
    margin: 8px auto;
    overflow: hidden;
    text-decoration: none !important; 
    width: 75%;
  }
  button:hover{background:linear-gradient(0deg, rgb(34, 195, 168) 0%, rgb(112, 255, 176)100%)}
  button:active{background:rgba(112,16,10,1);}
  button.parkSelector { 
    background: linear-gradient(0deg, rgb(240, 209, 152) 0%, rgb(252, 238, 213)100%); 
    border:none; 
    color: black; 
    height: 48px; 
    width: 66.6%;
  }
  button.parkSelector:hover{background:lightyellow;}
  button.parkSelector:active{background:chocolate;}

  button.smallButton { 
    background: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgb(133, 133, 133)100%); 
    border:none; 
    color: white;
    height: 48px; 
    width: auto;
    display: inline; 
    margin: 4px;
  }
  button.smallButton:hover{background:linear-gradient(0deg, rgb(45, 34, 195) 0%, rgb(112, 202, 255)100%);}
  button.smallButton:active{background:rgba(112,16,10,1);}
  .spacing{
  height : 32px;
  }
  input {
    background: linear-gradient(0deg,  rgb(212, 212, 212) 0%,rgb(241, 241, 241)100%);
    border-radius: 8px;
    border: none;
    font-size: 20px;
    height: 48px;
    margin: 4px;
    overflow: hidden;
    text-decoration: none !important; 
  }
 label{
   display: inline-block;
 }

 .footer {
  align-items: center;
  background: linear-gradient(180deg, rgba(64,64,64,1) 0%, rgba(32, 32, 32,1) 100%);
  background: rgb(0,0,0,1);
  color: white;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: left;
  margin: 0px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}
.footerbutton{
  background: rgb(0,0,0,0);
  border-radius: 0px;
  font-size: 24px;
  height: 64px;
  margin: 8vw auto;
  width: 33vw;
}
.footerbutton:hover{background: linear-gradient(180deg, rgba(64,64,64,1) 0%, rgba(32, 32, 32,1) 100%);}
.footerbutton:active{background:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(12,16,120,1) 100%);}
.logo{
  height: 64px;
  padding: 0vw;
  position: relative;
  top: 0px;
  width: auto;
}
.infoImg{  
  height: 128px;
  padding: 0vw;
  position: relative;
  top: 0px;
  width: auto;

}
.barspacing{
  width: 100%;
}
